@{
    ViewBag.Title = "NewName";
}

<script>
    function ValidateTanim(object) {
        var result = true;
        var frm = $(object).parent();
        if (frm.find("input:eq(0)").val() == "") {
            CannotBeEmpty(frm.find("input:eq(0)"));
            result = false;
        }
        else if (frm.find("input:eq(0)").val().length > 20) {
            TooLong(frm.find("input:eq(0)"), 20);
            result = false;
        }
        return result;
    }
</script>

<form method="post" action="/Name/NewName">
    <input type="text" name="shipname"/>
    <input type="submit" value="Ekle" onclick="return ValidateTanim(this)"/>
</form>

<label>Veritabanında bulunan isimler:</label><br />
@foreach (KeyValuePair<int,string> pair in ViewBag.tanimlar)
{
    <p>@pair.Value</p>
}