@{
    ViewBag.Title = "NewName";
}

<h2>Yeni tanım ekleme</h2>

<script>
    function ValidateTanim(object) {
        var result = true;
        var frm = $(object).parent();
        result = EmptyOrLong(frm.find("input:eq(0)"), 20);
        return result;
    }
</script>

<form method="post" action="/Name/NewName">
    <input type="text" name="shipname"/>
    <input type="submit" value="Ekle" onclick="return ValidateTanim(this)"/>
</form>

<label>Veritabanında bulunan isimler:</label><br />
@foreach (KeyValuePair<int,string> pair in ViewBag.tanimlar)
{
    <div style="display:inline-block;margin-right:10px;">@pair.Value,</div>
}