<script>
    function DivToggle(id)
    {
        $(id).removeClass("options");
        $(".options").hide(1000);
        $(id).addClass("options");
        $(id).slideToggle(1000, function () { });
        return false;
    }
</script>

<a onclick="return DivToggle('#searchoptions')" href="~/Search">Arama</a>
        <!--<form id="search-form" action="/Gemi/GetShip" method="get">
            <div>Gemi Arama:</div><br /><br />
            <div style="margin:0 5% 0 5%">
            <div style="width:70%"><input type="text" name="ref_id" class="required-search"/></div>
            <div style="width:25%"><input type="submit" onclick="return ValidateSearch(this);"/></div>
            </div>
        </form>-->
        <br />
<div id="searchoptions" class="options" >
    <a href="~/Search/GetShipsByRef" class="option">Referans ile</a><br />
    <a href="~/Search/GetShipsByName" class="option">İsim ile</a><br />
    <a href="~/Search/GetShipsByDate" class="option">Tarih ile</a><br />
    <a class="option">Tarih ve isim</a><br />
</div>
        
<a href="~/Home/Index">Ana Sayfa</a><br />


@if (Request.IsAuthenticated)
{
    <a href="~/Gemi/Records">Girilen kayıtlar</a><br />
    <a onclick="return DivToggle('#shipoptions')" href="~/Gemi/">Gemi işlemleri</a><br />
    <div class="options" id="shipoptions">
        <a href="~/Gemi/Upload" class="option">Gemi kaydı ekle</a><br />
    </div>
    if (User.IsInRole("admin"))
    {
        <!--<li><a href="~/Name">Tanımlar</a><br /></li>-->
        <a onclick="return DivToggle('#adminoptions')" href="~/Admin">Yönetici Paneli</a><br />
        <div class="options" id="adminoptions">
            <a class="option" href="~/Admin/UserPanel">Kullanıcılar</a><br />
            <a class="option" href="~/Name/Index">Tanımlar</a><br />
        </div>
    }  
    <a href="~/Home/Logout">Çıkış</a><br />
}