body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*buradan sonrası*/
#EditShipTable
{
    margin:auto;
    background:yellow;
    border:solid greenyellow 1px;
}

#EditShipTable tr
{
    width:50%;
}

#EditShipTable th,#EditShipTable td
{
    border:solid greenyellow 1px;
    text-align:center;
}

input[type="text"]
{
    font-size:18px;
    border-radius:5px;
}

textarea
{
    font-size:16px;
}

.currency table
{
    margin:10px auto;
}


.footer
{
    height:100px;
            
}
#EditShipTable
{
    width:70%;
    background-color:Yellow;
}
.ships div
{
    display:inline-block;
}
input[type="password"]
{
    font-size:18px;
}
textarea
{
    border-radius:7px 7px 0 7px;
}

.datepick
{
    width:150px;
}

#datepicker
{
    width:150px;
}

option
{
    font-size:18px;
}
select
{
    font-size:18px;
}

.profile input[type="text"], .profile input[type="password"]
{
    font-size:16px;
}

#uploadtable
{
    background-color:Yellow;
    border:solid greenyellow 1px;
}
#uploadtable th, #uploadtable td
{
    border:solid greenyellow 1px;
}

.Users label
{
    display:inline-block;
    width:120px;
    text-align:center;
}

.photo {
    display:inline-block;
    margin-bottom:40px;
}

.photos {
    margin-top:15px;
}

.banner, .currency, .forecast, .profile, .sidebar, .context {
    background-color:rgba(0,255,255,0.80);
}

/*Record styles*/

.desc {
    background-color:rgb(236,127,209);
    width:120px;
    margin:auto;
    border-radius:8px;
    border-style:groove;
}

.record a {
    text-decoration:none;
    margin:0 15px 0 15px;
}

.record
{
    background-color:rgba(16,12,173,0.30);
    border-radius:25px;
    padding-bottom:10px;
    margin-bottom:10px;
}

.record-content
{
    /*margin-left:20px;*/
    max-width:90%;
}

.record button {
    font-size: 20px;
    background-color: rgb(255, 174, 0);
    width: 100px;
    border-radius: 7px;
}

/*Sidebar styles*/

.option
{
    font-size:16px;
}

.options 
{
    display:none;
    width:75%;
    border:solid black;
    border-width:0 0 1px 0;
    border-radius:20px;
    margin:auto;
}

.sidebar a:hover
{
    background-color:lime;
}
.sidebar
{
    width:15%;
    /*border:solid black 1px;*/
    display:inline-block;
    min-height:500px;
    line-height:12px;
}
        
.sidebar input
{
    border-radius:5px;
    width:100%;
}
        
.sidebar a
{
    margin:auto;
    text-align:center;
    height:15px;
    display:block;
    width:85%;
    text-decoration:none;
    background-color:Yellow;
    border:solid green 2px;
    border-radius:15px;
    padding:3px;
}

.Users label 
{
    background-color:yellow;
}

.Users 
{
    margin-top:15px;
}

.Users input 
{
    font-size:18px;
    border-radius:5px;
}

.preview 
{
    display:inline-block;
}

.ui-datepicker-next 
{
    float:right;
}

/*Layout*/

.body table
{
    margin:auto;
}

.context p
{
    padding:7px;
    border-radius:10px;
}

.body
{
    display:flex;
    margin-top:19px;
    font-size:20px;
    min-height:100%;
    /*padding-bottom:100px;*/
}

.context 
{
    width:83%;
    display:inline-block;
    /*border:solid black 1px;*/
    padding:0;
    text-align:center;
    min-height:600px;
    margin-left:19px;
    vertical-align:top;
}

html
{
    height:100%;
    background-image:url(/Content/wana_bhum-9308663-container_ship-8-140842.jpg);
    background-size:auto;
    background-attachment:fixed;
}

.Users label
{
    height:30px;
    vertical-align:bottom;
}

.Users .h
{
    font-weight:bold;
}

.info td
{
    width:50%;
}