body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*buradan sonrası*/

input[type="text"]
{
    font-size:18px;
    border-radius:5px;
}

textarea
{
    font-size:16px;
}

.currency table
{
    margin:10px auto;
}


.footer
{
    height:100px;
            
}

.ships div
{
    display:inline-block;
}
input[type="password"]
{
    font-size:18px;
    border-radius:5px;
}
textarea
{
    border-radius:7px 7px 0 7px;
}

.datepick
{
    width:150px;
}

#datepicker
{
    width:150px;
}

option
{
    font-size:18px;
}
select
{
    font-size:18px;
}

.profile input[type="text"], .profile input[type="password"]
{
    font-size:16px;
}


.Users label
{
    display:inline-block;
    width:120px;
    text-align:center;
}

.banner, .currency, .forecast, .profile, .sidebar, .context {
    background-color:rgba(0,255,255,0.80);
}

/*Record styles*/

.desc {
    background-color:rgb(236,127,209);
    width:120px;
    margin:auto;
    border-radius:8px;
    border-style:groove;
}

.record a {
    text-decoration:none;
    margin:0 15px 0 15px;
}

.record
{
    background-color:rgba(16,12,173,0.30);
    border-radius:25px;
    padding-bottom:10px;
    margin-bottom:10px;
}

.record-content
{
    /*margin-left:20px;*/
    max-width:90%;
}

.record button {
    font-size: 20px;
    background-color: rgb(255, 174, 0);
    width: 100px;
    border-radius: 7px;
}

/*Sidebar styles*/


.Users label 
{
    /*background-color:yellow;*/
    background-color:rgba(60, 98, 216, 0.62);
}

.Users 
{
    margin-top:15px;
}

.Users input 
{
    font-size:18px;
    border-radius:5px;
}


.ui-datepicker-next 
{
    float:right;
}

/*Layout*/



.Users label
{
    height:30px;
    vertical-align:bottom;
    border:1px solid cyan;
}

.Users .h
{
    font-weight:bold;
}



.ships div
{
    background-color:rgba(52, 53, 161, 0.6);
    min-width:10%;
}

#changepass div
{
    display:inline-block;
    width:200px;
}

#changepass input[type="input"], #changepass input[type="password"]
{
    width:200px;
}

#editship
{
    background-color: Yellow;
    border:solid green 2px;
    border-radius:10px;
    padding:3px;
    text-decoration:none;
    margin-bottom:10px;
    display:inline-block;
}

.updatetime
{
    font-size:15px;
}