#EditShipTable
{
    width:70%;
    max-width:85%;
    background-color:rgba(60, 98, 216, 0.62);
    margin:auto;
    /*border:solid greenyellow 1px;*/
}

#EditShipTable td
{
    width:50%;
    max-width:70%;
}

#EditShipTable th,#EditShipTable td
{
    border:solid rgba(47, 255, 247, 0.82) 1px;
    text-align:center;
}

#EditShipTable input[type="submit"]
{
    font-size: 18px;
    border-radius: 5px;
}

#EditShipTable textarea
{
    max-width:95%;
}
#uploadtable
{
    background-color:rgba(60, 98, 216, 0.62);
    /*border:solid greenyellow 1px;*/
}
#uploadtable th, #uploadtable td
{
    border:solid rgb(47, 192, 255) 1px;
}

#uploadform input[type="submit"]
{
    font-size:20px;
    margin-top:15px;
    border-radius:5px;
    border-color:green;
    background-color:Yellow;
}
.info
{
    background-color:rgba(60, 98, 216, 0.62);
    margin-bottom:15px;
    border-radius:10px;
    padding:5px;
}

.info td
{
    width:50%;
}

#name_table
{
    min-width:20%;
    background-color:rgba(60, 98, 216, 0.62);
    border-radius:5px;
}

#name_table td
{
    min-width:25%;
    padding:5px 10px 5px 10px;
    border:solid rgba(0, 255, 255, 0.86) 1px;
}

#name_table input
{
    font-size:18px;
}