@{
    ViewBag.Title = "Search";
}

<a href="~/Search/GetShipsByRef">Referans ile ara</a><br />
<a href="~/Search/GetShipsByName">İsim ile ara</a><br />
<a href="~/Search/GetShipsByDate">Tarih aralığı ile ara</a><br />