@{
    ViewBag.Title = "SearchResults";
}

@if (ViewBag.header != null)
{
<h2>@ViewBag.header</h2>
}
<div class="ships">
@if(Model.Count==0)
{
    <div>Kayıt bulunamadı.</div>
}
else
{
    <div>Gemi adı</div><div>Olay tarihi</div><div>Referans no</div><br />
    foreach(gemi.Entities.Ship i in Model)
    {
        Html.RenderPartial("_ShipInfo", i);
    }
}
</div>