@{
    ViewBag.Title = "ChangePassword";
}

<h2>Şifre değiştirme</h2>

<script>
    function ValidateChangePassword(object) {
        var result = true;
        var frm = $(object).parent().parent();
        if (frm.find("input:eq(0)").val() == "") {
            CannotBeEmptyPass(frm.find("input:eq(0)"));
            result = false;
        }
        else if (frm.find("input:eq(0)").val().length > 20) {
            TooLongPass(frm.find("input:eq(0)"),20);
            result = false;
        }
        if(frm.find("input:eq(1)").val()=="")
        {
            CannotBeEmptyPass(frm.find("input:eq(1)"));
            result=false;
        }
        else if (frm.find("input:eq(0)").val().length > 20) {
            TooLongPass(frm.find("input:eq(1)"));
            result = false;
        }
        if (frm.find("input:eq(2)").val() == "") {
            CannotBeEmptyPass(frm.find("input:eq(2)"));
            result = false;
        }
        else if (frm.find("input:eq(2)").val().length > 20) {
            TooLongPass(frm.find("input:eq(2)"));
            result = false;
        }
        return result;
    }

    function CheckPasses(object) {
        var result = true;
        var frm = $(object).parent().parent();
        result = ValidateChangePassword(object);
        if (frm.find("input:eq(1)").val() != frm.find("input:eq(2)").val()) {
            result = false;
        }
        return result;
    }

</script>

<form action="/Home/ChangePassword" method="post">
    <div>Şu anki şifreniz:<input type="password" name="oldpass"/></div>
    <div>Yeni şifre:<input type="password" name="newpass1"/></div>
    <div>Yeni şifre:<input type="password" name="newpass2"/></div>
    <div><input type="submit" onclick="return ValidateChangePassword(this)"/></div>
</form>