@{
    ViewBag.Title = "AddUser";
}

<h2>AddUser</h2>

<form action="/Admin/AddUser">
    <input name="username" type="text" value="Kullanıcı adı giriniz." />
    <input name="password" type="password" value="Kullanıcı şifresini giriniz" />
    <input name="role" type="text" value="Kullanıcı rolünü giriniz" />
    <input type="submit" />
</form>
