@{
    ViewBag.Title = "AddUser";
}

<script>
    
</script>

<h2>AddUser</h2>

<form action="/Admin/AddUser">
    <input name="username" type="text" value="Kullanıcı adı giriniz." onfocus="ClickToEmpty(this)" onclick="ClickToEmpty(this)"/>
    <input name="password" type="password" value="Kullanıcı şifresini giriniz" onfocus="ClickToEmptyPass(this)" onclick="ClickToEmptyPass(this)"/>
    <input name="role" type="text" value="Kullanıcı rolünü giriniz" onfocus="ClickToEmpty(this)" onclick="ClickToEmpty(this)"/>
    <input type="submit" onclick="return ValidateAddUser(this)" />
</form>
