@{
    ViewBag.Title = "AddUser";
}

<script>
    
</script>

<h2>Kullanıcı ekleme</h2>

<form action="/Admin/AddUser">
    <input name="username" type="text" value="Kullanıcı adı giriniz." onfocus="ClickToEmpty(this)" onclick="ClickToEmpty(this)"/><br />
    <input name="password" type="text" value="Kullanıcı şifresini giriniz" onfocus="ClickToEmptyPass(this)" onclick="ClickToEmptyPass(this)"/><br />
    <input name="role" type="text" value="Kullanıcı rolünü giriniz" onfocus="ClickToEmpty(this)" onclick="ClickToEmpty(this)"/><br />
    <input type="submit" onclick="return ValidateAddUser(this)" />
</form>
