@{
    ViewBag.Title = "EditUser";
}
<script src="../../Scripts/jquery-1.8.2.js" type="text/javascript"></script>
<script>
    /*function ValidatePasswordChange(object)
    {
        var result = true;
        var obj = $(object).parent().parent().parent();
        if()
        if (obj.find(".required-password").val() == "") {
            CannotBeEmptyPass(obj.find(".required-password"));
            result = false;
        }
        else if (obj.find(".required-password").val().length > 20) {
            TooLongPass(obj.find(".required-password"), 20);
            result = false;
        }
        if (obj.find(".required-role").val() == "") {
            CannotBeEmpty(obj.find(".required-role"));
            result = false;
        }
        else if (obj.find(".required-role").val().length > 20) {
            TooLong(obj.find(".required-role"), 20);
            result = false;
        }
        return result;
    }*/

</script>

<h2>Kullanıcı düzenleme</h2>
<form id="usereditform" method="post" action="/Admin/EditUser">
<table>
    <tr>
        <th>Eski değerler</th><th>Yeni değerler</th>
    </tr>
    <tr>
        <td>@ViewBag.username</td><td><input type="text" name="newname" /></td>
    </tr>
    <tr>
        <td>Şifre</td><td><input type="text" name ="password" class="required-password"/></td>
    </tr>
    <tr>
        <td>@ViewBag.role</td><td><input type="text" name="role" class="required-role"/></td>
    </tr>
</table>
<div>**Değiştirmek istemediğiniz değerleri boş bırakınız**</div>
    <input value="@ViewBag.username" name="oldname" type="hidden"/>
    <input type="submit" class="submit" onclick="ValidatePasswordChange(this)" />
</form>