@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/Admin/UserPanel">Kullanıcı kontrol paneli</a><br />
<a href="~/Name">Tanım kontrol paneli</a><br />
<!--<a href="~/Admin/Gemiler">Gemi kontrol paneli</a><br />-->
