@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Gemi/Upload">upload</a>
<hr />
<!--<a href="~/Gemi/Records">Girilen kayıtlar</a><br />
<hr />
<label>Arama</label>
<div>
    <form action="~/Gemi/GetShip" method="get">
        <input type="text" name="refid" /><br/>
        <input type="submit" value="Ara"/><br/>
    </form>
</div>
<hr />-->
